@model Compras.Ordene

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ordene</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articulo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medida.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medida.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedore.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedore.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Num_orden }) |
    @Html.ActionLink("Back to List", "Index")
</p>
