@model Compras.Identificacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Identificacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
